.u-section-1 .u-sheet-1 {
  min-height: 8786px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 121px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 8255px auto 60px;
}